// Palette
$color-black:       #000000;
$color-white:       #FEFEFE;
$color-white-faded: #ededed;
$color-yellow:      #FDEE30;

// Backgrounds
$bg-main: $color-white-faded;
$bg-secondary: $color-black;

// Text
$txt-main: $color-black;
$txt-secondary: $color-white;
