@import '../../styles/colors';

.vehicle-list {
  &__table {
    width: 100%;
  }

  &__headers {
    display: flex;
    height: 5rem;
    align-items: center;
  }

  &__header {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center; 
    font-weight: bold;
    text-transform: uppercase;
  }

  &__body {
    display: block;
    max-height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -1.4rem;
    background-color: $bg-table;
    border: 1px solid $border-table;
    border-radius: 2px;
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 3rem;
    padding: 1rem 0;
    border-bottom: 1px solid $border-table;

    &:last-of-type {
      border: 0;
    }
  }

  &__column {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    padding: 0 .5rem;
  }
}