@import '../../styles/colors';

.header-bar {
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-secondary;

  &__title {
    color: $txt-secondary;
    text-transform: uppercase;
  }
}