@import './styles/colors';

.app {
  background-color: $bg-main;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;

  &__wrapper {
    max-width: 120rem;
    padding: 2rem 1rem;
    margin: auto;
  }

  &__selectors {
    display: flex;
    justify-content: space-between;
  }
}